@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
} 

body {
  background-image: url(./assets/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: fit-content;
  min-height: 100vh;
}


.profile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.profile img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: solid 2px rgb(255, 255, 255);
}

#name{
  color: white;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}

#description{
  color: white;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  margin-top: -5px;
}

.btn-links {
  margin-top: -15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.btn-links a {
  padding-top: 7px;
  width: 420px;
  height: 45px;
  text-align: center;
  font-size: 17px;
  font-weight: 550;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.50);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(4px);
  box-shadow: 0.3em 0.4em rgba(255, 255, 255, 0.12);
}

.btn-links a:hover {
  background-color: rgba(255, 255, 255, 0.20);
  transform: scale(1.06);
  transition: all 300ms;
}

.btn-links a:active {
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  background-color: rgba(255, 255, 255, 0.30)
}

.container {
  max-width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
  margin: 0 auto;
  padding: 55px 0;
}

.card {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 0 auto;
  background: #b87979;
  border-radius: 15px;
}

#card-nlw {
  background-image: url(./assets/project-nlw.webp); 
  background-position: center; 
  background-size: cover;
}

#card-pagina {
  background-image: url(./assets/projects-person_page.webp); 
  background-position: center; 
  background-size: cover;
}

#card-form {
  background-image: url(./assets/project-forms.webp); 
  background-position: center; 
  background-size: cover;
}

.project-name {
  color: white;
}

.face {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &.face1 {
        box-sizing: border-box;
        padding: 20px;

        h2 {
          margin: 0;
          padding: 0;
        }

      }

      &.face2 {
        transition: 0.7s;

        h2 {
          margin: 0;
          padding: 0;
          font-size: 100px;
          color: white;
          transition: 0.5s;
          text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          z-index: 10;
        }
      }
    }

  .card:hover .face.face2 {
    height: 65px;

    h2 {
      font-size: 2em;
    }
  }

  .card:nth-child(1) .face.face2 {
    background-color: rgba(81, 4, 117, 0.644);
    background-size: cover;
    background-position: center;
    border-radius: 15px; 
  }

  .card:nth-child(2) .face.face2 {
    background-color: rgba(68, 68, 68, 0.644);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
  }

  .card:nth-child(3) .face.face2 {
    background-color: rgba(59, 7, 20, 0.644);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
  }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5px
}

footer p {
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 30px;
}

@keyframes fromTop {
  from {
      opacity: 0;
      transform: translateY(-30px);
  }

  to{
      opacity: 1;
      transform: translateY(0);
  }
}

header, main, footer {
  animation: fromBottom .8s backwards;
}


.card:nth-child(1) .face.face2 {
  animation-delay: 0s;

}

.card:nth-child(2) .face.face2 {
  animation-delay: .5s;

}

.card:nth-child(3) .face.face2 {
  animation-delay: .10s;

}

@keyframes fromBottom {
  from {
      opacity: 0;
      transform: translateY(30px);
  }
  to{
      opacity: 1;
      transform: translateY(0);
  }
}


@media only screen and (max-width: 900px) {
  body {
    background-image: url(./assets/bg-mobile.jpg);
  }

  .profile {
    text-align: center;
  }
  
  .profile img {
    margin: 0 auto;
  }

  .profile p {
    font-size: 14px;
  }

  .btn-links a {
    width: 80%;
    font-size: 14px;
    padding-top: 10px;
  }

  .container {
    padding: 40px 20px;
    gap: 15px;
  }

  .card {
    width: 80%;
    height: 200px;
  }

  .card:nth-child(1) .face.face2 {
    height: 40px;
  
  }
  
  .card:nth-child(2) .face.face2 {
    height: 40px;
  
  }
  
  .card:nth-child(3) .face.face2 {
    height: 40px;
  
  }

  .project-name {
    text-align: center;
    font-size: 12px;
  }

  .face h2 {
    font-size: 30px;
  }

  footer p {
    margin-top: 70px;
    font-size: 12px;
  }
}